---
layout: page
title: Regular Runs
permalink: /regular_runs/
---
<p>
  Thames Hare &amp; Hounds regular training runs. This list is maintained by Nic Gould; if you have
  a run you would like to add then email <a href="mailto:mail@nicgould.co.uk">mail@nicgould.co.uk</a>.
</p>

<p>
    Get an updating feed of training runs: <a href="/runs.ics">iCalendar link</a>.
</p>

<table border>
{% assign weekdays = "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" | split: ' ' %}
{% for weekday in weekdays %}
  {% assign rowspan = 0 %}
  {% for run in site.data.regular_runs %}
    {% for day in run.days %}
      {% if day == weekday %}
        {% assign rowspan = rowspan | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for run in site.data.regular_runs %}
  {% assign start_minute = run.start | modulo:60 | remove:'.0' %}
  {% assign start_hour = run.start | minus: start_minute | divided_by:60 | remove:'.0' %}
  {% capture start %}{{ run.first | date: "%Y-%m-%d" }} {{start_hour}}:{{start_minute}}:00{% endcapture %}
  {% capture summary %}{% if run.description %}{% if run.url %}<a href="{{run.url}}">{{run.summary}}</a>{% else %}{{run.summary}}{% endif %}, {% endif %}{{run.location}}, {{start | date: "%-I:%M %p"}}.{% endcapture %}
  {% capture description %}{% if run.description %}{{run.description}}{% else %}{{run.summary}}{% endif %}{% endcapture %}
  {% capture organizer %}{{run.organizer}} {{run.email}}{% endcapture %}
  {% for day in run.days %}
  {% if day == weekday %}
  <tr>
  {% unless rowspan == 0 %}
    <td rowspan="{{rowspan}}">{{day}}</td>
    {% assign rowspan = 0 %}
  {% endunless %}
    <td>{{summary}}</td>
    <td>{{description}}</td>
    <td>{{organizer}}</td>
  </tr>
  {% endif %}
  {% endfor %}
  {% endfor %}
{% endfor %}
</table>
