<nav>
	
	<input id="expand-util" type="checkbox">
	<label for="expand-util"><icon class="expand">menu</icon></label>

	<ul id="menu">
		<li><a>Books</a></li>
		<li><a>History</a></li>
		<li><a>Reports</a></li>
	</ul>
	<h2>Thames Hare and Hounds</h2>
</nav>

<a class="footertext">
	<div class="email">
		<img class="emailpic" src="/img/email.png" width="40" height="40">
		<a href="#">Email@mail.com</a>
	</div>
	<div class="twitter">
		<img class="twitterpic" src="/img/twitter.png" width="40" height="35">
		<a href="#">THH</a>
	</div>
</a>



