<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Contact Us</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Email@mail.com</a></li>
        <li><a href="#">Twitter: THH</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Details</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Spec</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">Other links</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="/history.html">History</a></li>
        <li><a href="/reports.html">Reports</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="#">Links</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <h1 class="mdl-mega-footer--heading">FAQ</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Questions</a></li>
        <li><a href="#">Answers</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy and Terms</a></li>
      <li><a href="#">Which of these bits do we need?</a></li>
    </ul>
  </div>
</footer>
