<nav>
	<a class="site">
		<img class="thh" src="/img/thh_crest.svg" width="80" height="80">
  		<h1>Thames Hare and Hounds</h1>
	</a>
        
    <input id="expand-util" type="checkbox">
    <label for="expand-util"><icon class="expand">menu</icon></label>

    <ul id="menu">
    	<li><a href="/home.html">Home</a></li>
    	<li><a href="/about.html">About</a></li>   	
        <li><a href="/clubkit.html">Club Kits</a></li>
        <li>
            <ul class="dropdown">
              <li><a class="drop" href="/race.html">Races</a>
                <ul>
                  <li><a href="#">Race 1</a></li>
                  <li><a href="#">Race 2</a></li>
                  <li><a href="#">Race 3</a></li>
                  <li><a href="#">Race 4</a></li>
                  <li><a class="drop" href="#">Other</a>
                    <ul><!-- or class="left" -->
                      <li><a href="#">Second-Chlid 1</a></li>
                      <li><a href="#">Second-Chlid 2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

            </ul>
        </li>
    </ul>

</nav>

