<header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Thames Hare &amp; Hounds</span>
    <div class="mdl-layout-spacer"></div>

    <!-- Left aligned menu below button -->
    <button id="demo-menu-lower-right"
            class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-right">
      <li class="mdl-menu__item">Older pages...</li>
      <li class="mdl-menu__item"><a href="/benefits/">Benefits</a></li>
      <li class="mdl-menu__item"><a href="/clubkit/">Club Kit</a></li>
      <li class="mdl-menu__item"><a href="/courses/">Courses</a></li>
      <li class="mdl-menu__item"><a href="/history/">History</a></li>
      <li class="mdl-menu__item"><a href="/mossyfoot.html">Mossy Foot</a></li>
      <li class="mdl-menu__item"><a href="/books/">Books</a></li>
      <li class="mdl-menu__item"><a href="/links/">Links</a></li>
    </ul>



  </div>
</header>
<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <span class="mdl-layout-title"><a href="/"><img src="/img/Thh-logo-white-text.png"/></a></span>
    <div class="mdl-layout-spacer"></div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

    <div class="aboutclick" style="cursor: pointer;">
      <a class="mdl-navigation__link">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
        About Us
      </a>
    </div>

    <div class="abouthide" style="display: none;">
      <a class="mdl-navigation__link-sublink" href="/when_and_where_we_meet/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - When & where we meet
      </a>
      <a class="mdl-navigation__link-sublink" href="/club_training/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Club training
      </a>
      <a class="mdl-navigation__link-sublink" href="/mens_team/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Men's Team
      </a>
      <a class="mdl-navigation__link-sublink" href="/ladies_team/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Ladies' Team
      </a>
      <a class="mdl-navigation__link-sublink" href="/club_benefits/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Club benefits
      </a>
      <a class="mdl-navigation__link-sublink" href="/committee/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Committee
      </a>
    </div>
    <a class="mdl-navigation__link" href="/all/">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>
      News
    </a>
    <div class="eventclick" style="cursor: pointer;">
      <a class="mdl-navigation__link">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>
        Events
      </a>
    </div>
    <div class="eventhide" style="display: none;">
      <a class="mdl-navigation__link-sublink" href="/fixtures/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Fixtures
      </a>
      <a class="mdl-navigation__link-sublink" href="/social_events/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Social events
      </a>
    </div>
    <div class="raceclick" style="cursor: pointer;">
      <a class="mdl-navigation__link">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">directions_run</i>
        Races
      </a>
    </div>
    <div class="racehide" style="display: none;">
      <a class="mdl-navigation__link-sublink" href="/alumni_race/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Alumni Race
      </a>
      <a class="mdl-navigation__link-sublink" href="/dash_for_the_splash/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Dash for the Splash
      </a>
      <a class="mdl-navigation__link-sublink" href="/parkland_relays/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Parkland Relays
      </a>
      <a class="mdl-navigation__link-sublink" href="/second_sunday_5/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Second Sunday 5
      </a>
      <a class="mdl-navigation__link-sublink" href="/surrey_league/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Surrey League
      </a>
      <a class="mdl-navigation__link-sublink" href="/th&h_challenges/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - TH&H Challenges
      </a>
      <a class="mdl-navigation__link-sublink" href="/th&h_handicaps/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - TH&H Handicaps
      </a>
      <a class="mdl-navigation__link-sublink" href="/varsity_race/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Varsity Race
      </a>
    </div>
    <div class="coursesclick" style="cursor: pointer;">
      <a class="mdl-navigation__link">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>
        Courses
      </a>
    </div>
    <div class="courseshide" style="display: none;">
      <a class="mdl-navigation__link-sublink" href="/5_mile/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - 5 mile
      </a>
      <a class="mdl-navigation__link-sublink" href="/7.5_mile/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - 7.5 mile
      </a>
      <a class="mdl-navigation__link-sublink" href="/10_mile/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - 10 mile
      </a>
      <a class="mdl-navigation__link-sublink" href="/parkland_relays/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Parkland Relays
      </a>
      <a class="mdl-navigation__link-sublink" href="/dash_for_the_splash/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Dash for the Splash
      </a>
      <a class="mdl-navigation__link-sublink" href="/second_sunday_5/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Second Sunday 5
      </a>
      <a class="mdl-navigation__link-sublink" href="/varsity_race/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Varsity Race
      </a>
    </div>
    <div class="historyclick" style="cursor: pointer;">
      <a class="mdl-navigation__link">
        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">history</i>
        History
      </a>
    </div>
    <div class="historyhide" style="display: none;">
      <a class="mdl-navigation__link-sublink" href="/club_history/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Club history
      </a>
      <a class="mdl-navigation__link-sublink" href="/publications/">
        <i class="mdl-color-text--blue-grey-400-sublink material-icons" role="presentation"></i>
        - Publications
      </a>
    </div>
    <a class="mdl-navigation__link" href="/clubkit/">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>
      Club kit
    </a>
    <a class="mdl-navigation__link" href="/contactus/">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">contact_mail</i>
      Contact Us
    <a class="mdl-navigation__link" href="/help.html">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help</i>
      Help
    </a>
  </nav>
</div>

<script>
  var main = function() {
    $('.aboutclick').click(function() {
      $('.abouthide').toggle(200);
    });
    $('.eventclick').click(function() {
      $('.eventhide').toggle(200);
    });
    $('.raceclick').click(function() {
      $('.racehide').toggle(200);
    });
    $('.coursesclick').click(function() {
      $('.courseshide').toggle(200);
    });
    $('.historyclick').click(function() {
      $('.historyhide').toggle(200);
    });
  };
  $(document).ready(main);
</script>
