<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <img src="/img/thh_crest.svg" width="60" height="60">
    <h3>Thames Hare &amp; Hounds</h3>

  </div>
<!--         <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
-->        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="/index.html" class="mdl-layout__tab is-active">Home</a>
    <a href="/about.html" class="mdl-layout__tab">About</a>
    <a href="/race.html" class="mdl-layout__tab">Races</a>
    <a href="/fixtures.html" class="mdl-layout__tab">Fixtures</a>
    <a href="/clubkit.html" class="mdl-layout__tab">Club Kit</a>
  </div>
</header>
