        <div class="side-bar">
            <div class="side-bar-title">
                <p>
                    Upcoming Events
                </p>
            </div>
            <div class="events">
                <div id="news1">
                    <ul>
                        <li>
                            <div class="event-holder">
                                <div class="event-date">
                                    <p class="date-day">
                                        07
                                    </p>
                                    <p class="date-month">
                                        AUG
                                    </p>
                                </div>
                                <div class="event-text">
                                    <p class="event-info">
                                        Club Run<br>
                                        Thames Club House<br>
                                        7.30pm Wed
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="event-holder">
                                <div class="event-date">
                                    <p class="date-day">
                                        05
                                    </p>
                                    <p class="date-month">
                                        AUG
                                    </p>
                                </div>
                                <div class="event-text">
                                    <p class="event-info">
                                        Club Run<br>
                                        Thames Club House<br>
                                        7.30pm Wed
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="event-holder">
                                <div class="event-date">
                                    <p class="date-day">
                                        08
                                    </p>
                                    <p class="date-month">
                                        AUG
                                    </p>
                                </div>
                                <div class="event-text">
                                    <p class="event-info">
                                        Club Run<br>
                                        Thames Club House<br>
                                        7.30pm Wed
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="event-holder">
                                <div class="event-date">
                                    <p class="date-day">
                                        09
                                    </p>
                                    <p class="date-month">
                                        AUG
                                    </p>
                                </div>
                                <div class="event-text">
                                    <p class="event-info">
                                        Club Run<br>
                                        Thames Club House<br>
                                        7.30pm Wed
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="#" id="next"><img src="/img/arrow.png" alt=""/></a>
            </div>
            <div class="social">
                <div id="news2">
                    <ul>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @ThamesHandH 3Andrew Inglis
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @Lorem ipsum dolor sit amet, consectetur adipiscing
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @ThamesHandH 3Andrew Inglis
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @Lorem ipsum dolor sit amet, consectetur adipiscing
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @ThamesHandH 3Andrew Inglis
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @Lorem ipsum dolor sit amet, consectetur adipiscing
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="feed-holder">
                                <div class="feed-title">
                                    <div class="feed-user-img"></div>
                                    <div class="feed-comment">
                                        <p>
                                        LDN 10k<br>
                                        #SriChinmoyraces<br>
                                        win for 1John
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="feed-user-info">
                                    <p>
                                    @ThamesHandH 3Andrew Inglis
                                    </p>
                                </div>
                                <div class="feed-links">
                                    <a href="#"><img src="/img/like-icon.png" alt=""/></a>
                                    <a href="#"><img src="/img/retweet.png" alt=""/></a>
                                    <span class="small-text">30 jul</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="#" id="nextb"><img src="/img/arrow.png" alt=""/></a>
            </div>
            <div class="clearfix"></div>
            <div class="social-media">
                <a href="#"><img src="/img/tweet.png" alt=""/></a>
                <a href="#"><img src="/img/facebook.png" alt=""/></a>
            </div>
        </div>