<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>

    <body class="bodyhome">
        <div class="nav-bar">
            <div class="logo">
                <a href="/"><img src="/img/logo.jpg" alt=""/></a>
            </div>
            <div class="nav-toggle">
                <a href="#" id="toggle" class="toggle"></a>
            </div>
            <ul class="nav-bar-menu">
                <li><a href="/about/" >about us</a></li>
                <li><a href="/all/">news</a></li>
                <li><a href="/regular_runs/">regular runs</a></li> 
      
                <li><a href="#" class="show-sub-bar">events</a>
                    <ul class="sub-bar">
                        <li><a href="/fixtures/">-races</a></li>
                        <li><a href="/social_events/">-social</a></li>
                    </ul>  
                </li>

                <li><a href="#" class="show-sub-bar">courses</a>
                    <ul class="sub-bar">
                        {% for course in site.courses   %}
                          <li><a href="{{ course.url}}">- {{ course.short_title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/clubkit/">club kit</a></li>
                <li><a href="/contactus/">contact us</a></li>
            </ul>
        </div>

        <!-- we don't want this extra nesting on the home page,
        just the ones with default layout - its the extra wrap that is the problem -->
        {% if page.url == "/" %}
                {{ content }}
        {% else %}
            <div class="container">
                 <div class="wrap">
                    {{ content }}
                 </div>
            </div>
        {% endif %}
    
       
        {% include sidebar.html %}


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/masonry.pkgd.min.js"></script>
        <script src="/js/jquery.vticker.min.js"></script>
        <script src="/js/main.js"></script>
    </body>

</html>
